.hero {
   text-align: center;
   margin-top: 6rem;
   margin-bottom: 4rem;
}

.hero__title {
   font-size: 2.2rem;
   font-weight: 800;
}

.hero__title--color {
   color: #5c5bed;
}

.hero__para {
   font-size: 1rem;
   margin: 0 auto;
   width: 80%;
}

.hero__btn {
   padding: 1rem 1.8rem 1rem 1.8rem;
   border-radius: 2rem;
   border-style: none;
   cursor: pointer;
   color: #fff;
   background-color: #5c5bed;
   font-weight: 500;
}

.hero__btn:hover {
   opacity: 0.9;
}

.hero__cta {
   position: relative;
   margin-top: 2rem;
}

.hero__btn--badge {
   background-color: #34d399;
   color: #fff;
   padding: 0.3rem 0.8rem 0.3rem 0.8rem;
   border-radius: 1.5rem;
   font-size: 0.7rem;
   position: absolute;
   transform: translate(-35px, -30px);
}

.hero__link {
   display: block;
   text-decoration: none;
   margin-top: 1rem;
   font-size: 0.9rem;
}

@media (min-width: 840px) {
   .hero {
      margin-top: 8rem;
      margin-bottom: 10rem;
   }

   .hero__title {
      font-size: 4.5rem;
   }

   .hero__para {
      font-size: 1.2rem;
      width: 35%;
   }

   .hero__btn {
      padding: 1rem 2rem 1rem 2rem;
      border-radius: 2.5rem;
      font-size: 1.1rem;
   }

   .hero__cta {
      margin-top: 3rem;
   }
}
